<div>
  <input
    class="searchbox"
    type="text"
    [(ngModel)]="searchText"
    (input)="filterCompanies()"
    placeholder="Search"
    (focus)="showDropdownList()"
  />

  <span class="dropdown-icon arrow up"></span>

  <button class="btn" (click)="createCompany()">add</button>
  <ul class="search-container" *ngIf="showDropdown">
    <li class="list" *ngFor="let company of filteredCompanies; let i = index">
      <input
        type="text"
        [(ngModel)]="filteredCompanies[i].list"
        (input)="updateCompany(filteredCompanies[i])"
      />
    </li>
  </ul>
</div>

<!-- <app-search-dropdown
  [items]="filteredCompanies"
  [size]="'small'"
  [label]="'list'"
  [uid]="'productId'"
  [(ngModel)]="selectedCompany"
></app-search-dropdown> -->
