p {
  font-family: Lato;
}
.search-container {
  margin-top: 0px;
}
.list {
  list-style: none;
}
.searchbox {
  margin-left: 2.5rem;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-left: -0.6rem;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: -0.6rem;
  cursor: pointer;
}
.nl-1 {
  margin-left: -1rem;
}
.btn {
  margin-left: 1.6rem;
}

.dropdown-input {
  position: relative;
}

.input-box {
  padding-right: 30px; /* Adjust padding to accommodate the dropdown icon */
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.addBtn {
  cursor: pointer;
}
